
body {
    background: cadetblue;
}

.container  {
    margin: 40px;
}

.container .grades {
    margin: 50px;
    text-align: center;
    border: 2px solid black;
}

input {
    background: transparent;
    border-radius: 5px;
}

h1 {
    background-color: rgb(207, 27, 27);
    width: 20%;
    padding: 10px;
}