* {
  font-family: 'Gill Sans';
  text-decoration: none;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-60deg, gray, gray);
}

.links {
  background: beige;
  margin: 5px 5px;
  background: #000000;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 0;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: center;
}

nav ul li {
  width: 20%;
  display: inline-block;
  margin: 5px;
}

nav ul li a {
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 20spx;
  color: #000000;
}

.content {
  background: linear-gradient(60deg, gray, rgb(209, 203, 203));
  padding: 20px;
  margin: 10px;
}

#h1 {
  border-bottom: gray 1px solid;
  font-size: 50px;
  color: #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.content a {
  text-decoration: none;
  color: antiquewhite;
  transition: 0.30s;
  text-align: left;
  margin: 10px auto;
  line-height: 1.2em;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 8px #000000;
}

.content a:hover {
  opacity: 0.9;
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.head {
  background-color: rgb(29, 146, 150);
  text-align: center;
  font-size: 70%;
  padding: 1px;
}

.image {
  overflow: hidden;
  position: relative;
  margin: 20px;
  height: 400px;
  width: 50%;
  font-weight: bold;
  transition: 0.25 ease;
}

/*Column element*/
.column {
  float: right;
  width: 41%;
  height: 300px;
}

.column p {
  color: #000;
  font-size: 17px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.caption {
  display: block;
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 100;
  font-style: italic;
  width: 85%;
  color: aliceblue;
  text-decoration: none;
  margin-left: 5%;
  bottom: 0;
}

.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}