* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, cadetblue, rgb(212, 201, 201), white);
}

.content {
    padding: 40px;
}

.links {
    list-style-type: none;
    float: left;
    border: 2px hidden blue;
    margin-right: 9%;
    padding-top: 10px;
    background: cadetblue;
    width: 100%;
}

.links li {
    display: inline-block;
}

.links li a {
    color: #0c0c0c;
    margin-right: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.links li a #right {
    color: #0c0c0c;
    margin-right: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
}
/*Hover Element*/
.links li a:hover {
    transition: ease-out 0.25s;
    background: linear-gradient(-45deg, red, yellow, green);
}

#image {
    padding-top: 2.9%;
}

.title {
    font-weight: 900;
    letter-spacing: -0.03em;
    line-height: 1.2;
    font-size: 40px;
    padding: 16px 0;
    padding-bottom: 10px;
}

/*First Heading*/
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    color: gray;
    font-weight: 300%;
    font-size: medium;
}

/*Column element*/
.column {
    float: right;
    width: 40%;
    padding: 10px;
    height: 300px;
}

/*Column left*/
.left {
    float: left;
    width: 61%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    font-size: large;
    font-weight: 500%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}